@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #E5E5E5;
    color: #100c2d;
}

header {
    background-image: url('../assets/lady-getting-likes-on-social-media.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-width: 100%;
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 a {
    color: #280645;
    font-weight: 300;
    opacity: 0.4;
}

h1 a:hover {
    color: #af0909;
    opacity: 0.7;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #451306;
}

.nav-wrapper ul {
    display: flex;
    gap: 20px;
}

.nav-wrapper li {
    display: inline-block;
    list-style-type: none;
}

.nav-wrapper nav a {
    color: #af0909;
    font-weight: 500;
}

.nav-wrapper nav a:hover {
    border: 1px solid #451306;
    padding: 0.7rem;
    border-radius: 12px;
}

.nav-content {
    margin-left: auto;
    width: 36%;
    padding-bottom: 8rem;
}

.nav-content p {
    font-size: 3rem;
    line-height: 2;
    color: #451306;
}

#hello {
    font-size: 4rem;
    color: #061845;
}

#sep {
    font-size: 1rem;
    color: #061845;
}

a {
    text-decoration: none;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

section {
    padding-bottom: 5rem;
}

#about {
    width: 100%;
}

.about-content {
    display: flex;
    gap: 2rem;
}

.about-content img {
    border: none;
    border-radius: 50%;
}

section ul {
    padding-left: 8rem;
}

h2 {
    border-bottom: 1px solid #af0909;
    margin-bottom: 3rem;
}

.project-content {
    width: 100%;
}

.group {
    width: 50%;
    padding-bottom: 4rem;
    line-height: 2;
}

.group a {
    color: #af0909;
    padding: 0.5rem;
    border: 1px solid #280645;
    border-radius: 30%;
}

.group img {
    max-width: 50%;
    border-radius: 30%;
}

.group .full-pic {
    max-width: 30%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 1.5rem;
}